<!doctype html>
<html>
  <head>
      {% block head %}
      {% assets "css_common" %}
          <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
      {% endassets %}
      {%  assets "js_common" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      {%  assets "js_student" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      {%  assets "js_charts" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      {% endblock %}
  </head>
  <title>CRED System</title>
  <div class=page>
    <a href="/"><h1>CRED System</h1></a>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</html>