{% extends "layout.html" %}
{% block body %}
  <div>
    <label>Student</label>
    <select class='dropdown' name="sort" id="studentDropdown"></select>
    <button type="button" id="refreshData" onclick="refreshData();">Refresh</button>
  </div>
  <div>
    <span>
      <h2 class="title radar-chart">Cred Points By Type</h2>
      <canvas class="chart" id="studentRadarChart" width="600" height="600"></canvas>
    </span>
    <canvas class="chart" id="studentPieChart" width="600" height="600"></canvas>
    <canvas class="chart" id="studentLineChart" width="600" height="600"></canvas>
  </div>
{% endblock %}