{% extends "layout.html" %}
{% block body %}
  <div>
    <label>Student</label>
    <select class="dropdown" name="sort" id="studentDropdown"></select>
    <button type="button" id="refreshData" onclick="refreshData();">Refresh</button>
  </div>
  <div>
    <label class="big-numbah" id="totalPointsEarned"></label>
    <label class="big-numbah" id="percentage"></label>
  </div>
  <div>
      <canvas class="chart" id="studentRadarChart" width="600" height="600"></canvas>
      <canvas class="chart" id="studentBarChart" width="600" height="600"></canvas>
  </div>
{% endblock %}