{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=students>
  {% for student in students %}
    <li>
        <h2>{{ student.first_name + ' ' + student.last_name}}</h2>
        {{ student.address }}<br/>
        {{ student.city + ' ' + student.state }}
  {% else %}
    <li><em>Add me some students, son</em>
  {% endfor %}
  </ul>
{% endblock %}
